//// Font Face ////
@font-face {
  font-family: 'GothamRegular';
  src: url('../../../assest/fonts/Gotham-Regular.woff2') format('woff2'),
       url('../../../assest/fonts/Gotham-Regular.woff') format('woff'),
       url('../../../assest/fonts/Gotham-Regular.eot') format('eot');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../../../assest/fonts/Gotham-Medium.woff2') format('woff2'),
       url('../../../assest/fonts/Gotham-Medium.woff') format('woff'),
       url('../../../assest/fonts/Gotham-Medium.eot') format('eot');
}

@font-face {
  font-family: 'GothamBold';
  src: url('../../../assest/fonts/Gotham-Bold.woff2') format('woff2'),
       url('../../../assest/fonts/Gotham-Bold.woff') format('woff'),
       url('../../../assest/fonts/Gotham-Bold.eot') format('eot');
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../../../assest/fonts/Gotham-Black.woff2') format('woff2'),
       url('../../../assest/fonts/Gotham-Black.woff') format('woff'),
       url('../../../assest/fonts/Gotham-Black.eot') format('eot');
}


:root{
  //// Refer Font Token ////
  // Font face
  --awwd-ref-font-face-gotham-reg: 'GothamRegular';
  --awwd-ref-font-face-gotham-med: 'GothamMedium';
  --awwd-ref-font-face-gotham-bold: 'GothamBold';
  --awwd-ref-font-face-gotham-black: 'GothamBlack';
  // Font size
  --awwd-ref-font-size-60: 60px;
  --awwd-ref-font-size-46: 46px;
  --awwd-ref-font-size-40: 40px;
  --awwd-ref-font-size-36: 36px;
  --awwd-ref-font-size-32: 32px;
  --awwd-ref-font-size-28: 28px;
  --awwd-ref-font-size-24: 24px;
  --awwd-ref-font-size-20: 20px;
  --awwd-ref-font-size-16: 16px;
  --awwd-ref-font-size-14: 14px;
  --awwd-ref-font-size-12: 12px;
  // Font lineheight
  --awwd-ref-font-lineheight-72: 72px;
  --awwd-ref-font-lineheight-54: 54px;
  --awwd-ref-font-lineheight-40: 40px;
  --awwd-ref-font-lineheight-36: 36px;
  --awwd-ref-font-lineheight-32: 32px;
  --awwd-ref-font-lineheight-28: 28px;
  --awwd-ref-font-lineheight-20: 20px;
  --awwd-ref-font-lineheight-18: 18px;
  --awwd-ref-font-lineheight-16: 16px;
  --awwd-ref-font-lineheight-60: 60px;
  --awwd-ref-font-lineheight-46: 46px;
  --awwd-ref-font-lineheight-24: 24px;
  --awwd-ref-font-lineheight-14: 14px;

  //// System Font Tokens ////
  // Font face
  --awwd-sys-font-face-brand-reg: var(--awwd-ref-font-face-gotham-reg);
  --awwd-sys-font-face-brand-med: var(--awwd-ref-font-face-gotham-med);
  --awwd-sys-font-face-brand-bold: var(--awwd-ref-font-face-gotham-bold);
  --awwd-sys-font-face-brand-black: var(--awwd-ref-font-face-gotham-black);
}

// Mixin Font Size
@mixin awwd-sys-font-size-heading-1 {
  font-size: var(--awwd-ref-font-size-60);
  line-height: var(--awwd-ref-font-lineheight-72);
}

@mixin awwd-sys-font-size-heading-2 {
  font-size: var(--awwd-ref-font-size-46);
  line-height: var(--awwd-ref-font-lineheight-54);
}

@mixin awwd-sys-font-size-heading-3 {
  font-size: var(--awwd-ref-font-size-32);
  line-height: var(--awwd-ref-font-lineheight-40);
}

@mixin awwd-sys-font-size-heading-4 {
  font-size: var(--awwd-ref-font-size-28);
  line-height: var(--awwd-ref-font-lineheight-36);
}

@mixin awwd-sys-font-size-subheading {
  font-size: var(--awwd-ref-font-size-24);
  line-height: var(--awwd-ref-font-lineheight-32);
}

@mixin awwd-sys-font-size-body-lg {
  font-size: var(--awwd-ref-font-size-20);
  line-height: var(--awwd-ref-font-lineheight-28);
}

@mixin awwd-sys-font-size-body-base {
  font-size: var(--awwd-ref-font-size-16);
  line-height: var(--awwd-ref-font-lineheight-20);
}

@mixin awwd-sys-font-size-caption {
  font-size: var(--awwd-ref-font-size-14);
  line-height: var(--awwd-ref-font-lineheight-18);
}
