@import 'settings';

/* Font Size */
.awwd-font-heading-1 {
    @include awwd-sys-font-heading-1;
}
  
.awwd-font-heading-2 {
    @include awwd-sys-font-heading-2;
}
  
.awwd-font-heading-3 {
    @include awwd-sys-font-heading-3;
}
  
.awwd-font-heading-4 {
    @include awwd-sys-font-heading-4;
}
  
.awwd-font-subheading {
    @include awwd-sys-font-subheading;
}

.awwd-font-body-lg {
    @include awwd-sys-font-body-lg;
}

.awwd-font-body-base {
    @include awwd-sys-font-body-base;
}

.awwd-font-caption {
    @include awwd-sys-font-caption;
}

/* Font Weight */
.awwd-font-face-brand{
    &--reg{
        font-family: var(--awwd-ref-font-face-gotham-reg) !important;
    }
    &--med{
        font-family: var(--awwd-ref-font-face-gotham-med) !important;
    }
    &--bold{
        font-family: var(--awwd-ref-font-face-gotham-bold) !important;
    }
    &--black{
        font-family: var(--awwd-ref-font-face-gotham-black) !important;
    }
}

/* Font Align */
.awwd-font-align{
    &--center{
        text-align: center;
    }
    &--left{
        text-align: left;
    }
    &--right{
        text-align: right;
    }
}
