@font-face {
    font-family: "dsIcon";
    src: url('ds-icon-fonts.woff2?t=1688359903759') format('woff2'),
        url('ds-icon-fonts.woff?t=1688359903759') format('woff'),
        url('ds-icon-fonts.ttf?t=1688359903759') format('truetype');
}

.ds-icon {
    font-family: "dsIcon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ds-icon-account:before { content: "\e900"; }
.ds-icon-arrow-next:before { content: "\e901"; }
.ds-icon-back:before { content: "\e902"; }
.ds-icon-checkbox-checked:before { content: "\e903"; }
.ds-icon-sort:before { content: "\e904"; }
.ds-icon-shop:before { content: "\e905"; }
.ds-icon-search:before { content: "\e906"; }
.ds-icon-share:before { content: "\e907"; }
.ds-icon-plus:before { content: "\e908"; }
.ds-icon-home:before { content: "\e909"; }
.ds-icon-goto:before { content: "\e90a"; }
.ds-icon-fav:before { content: "\e90b"; }
.ds-icon-dropdown:before { content: "\e90c"; }
.ds-icon-fav-filled:before { content: "\e90d"; }
.ds-icon-error:before { content: "\e90e"; }
.ds-icon-delete:before { content: "\e90f"; }
.ds-icon-edit:before { content: "\e910"; }
.ds-icon-discount:before { content: "\e911"; }
.ds-icon-close:before { content: "\e912"; }
.ds-icon-mail:before { content: "\e913"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
