/* Corner */
.awwd-size-corner {
    &--full {
       border-radius: var(--awwd-sys-size-corner-full);
    }
    &--xl {
       border-radius: var(--awwd-sys-size-corner-lg);
    }
    &--lg {
       border-radius: var(--awwd-sys-size-corner-lg);
    }
    &--med {
       border-radius: var(--awwd-sys-size-corner-med);
    }
    &--rg {
       border-radius: var(--awwd-ref-size-corner-def);
    }
    &--sm {
       border-radius: var(--awwd-sys-size-corner-sm);
    }
}

/* Row Spacing */
.awwd-spacing-vertical {
    @mixin row-common-spacing {
        border: none;
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
    }
    &--xxl {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-xxl);
    }
    &--xl {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-xl);
    }
    &--lg {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-lg);
    }
    &--med {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-med);
    }
    &--rg {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-rg);
    }
    &--sm {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-sm);
    }
    &--xs {
        @include row-common-spacing;
        height: var(--awwd-sys-spacing-xs);
    }
}

/* Divide Line */
.awwd-divide-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--awwd-ref-color-neutral-300);
}

/* Visible and Hidden */
.hidden-sm {
    display: block;
    @include respond-to(screenSM) {
        display: none !important;
    }
}

.visible-sm {
    display: none;
    @include respond-to(screenSM) {
        display: block;
    }
}